{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<!--
    =============================================
        Text Inner Banner One
    ==============================================
    -->
    <div class="text-inner-banner-one pos-r">
        <div class="shape-wrapper">
            <svg class="img-shape shape-one">
                <path fill-rule="evenodd"  fill="rgb(255, 223, 204)"
                      d="M6.000,12.000 C9.314,12.000 12.000,9.314 12.000,6.000 C12.000,2.686 9.314,-0.000 6.000,-0.000 C2.686,-0.000 -0.000,2.686 -0.000,6.000 C-0.000,9.314 2.686,12.000 6.000,12.000 Z"/>
            </svg>
            <svg class="img-shape shape-two">
                <path fill-rule="evenodd"  fill="rgb(182, 255, 234)"
                      d="M6.000,12.000 C9.314,12.000 12.000,9.314 12.000,6.000 C12.000,2.686 9.314,-0.000 6.000,-0.000 C2.686,-0.000 -0.000,2.686 -0.000,6.000 C-0.000,9.314 2.686,12.000 6.000,12.000 Z"/>
            </svg>
            <svg class="img-shape shape-three">
                <path fill-rule="evenodd"  fill="rgb(181, 198, 255)"
                      d="M12.000,24.000 C18.627,24.000 24.000,18.627 24.000,12.000 C24.000,5.372 18.627,-0.000 12.000,-0.000 C5.372,-0.000 -0.000,5.372 -0.000,12.000 C-0.000,18.627 5.372,24.000 12.000,24.000 Z"/>
            </svg>
            <svg class="img-shape shape-four">
                <path fill-rule="evenodd"  fill="rgb(255, 156, 161)"
                      d="M7.500,15.000 C11.642,15.000 15.000,11.642 15.000,7.500 C15.000,3.358 11.642,-0.000 7.500,-0.000 C3.358,-0.000 -0.000,3.358 -0.000,7.500 C-0.000,11.642 3.358,15.000 7.500,15.000 Z"/>
            </svg>
            <svg class="img-shape shape-five">
                <path fill-rule="evenodd"  fill="rgb(178, 236, 255)"
                      d="M12.500,25.000 C19.403,25.000 25.000,19.403 25.000,12.500 C25.000,5.596 19.403,-0.000 12.500,-0.000 C5.596,-0.000 -0.000,5.596 -0.000,12.500 C-0.000,19.403 5.596,25.000 12.500,25.000 Z"/>
            </svg>
        </div> <!-- /.shape-wrapper -->
        <div class="container">
            <h2 class="pt-15">FAQ</h2>
        </div>
    </div> <!-- /.text-inner-banner-one -->



    <div class="element-section mb-150">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-lg-9 col-md-10">
                    <div class="faq-tab-wrapper-three">
                        <div class="faq-panel">
                            <div class="panel-group theme-accordion" id="accordion-three">
                                <div class="panel">
                                    <div class="panel-heading active-panel">
                                        <h6 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-three" href="#collapse31">
                                                Как оформить заказ?</a>
                                        </h6>
                                    </div>
                                    <div id="collapse31" class="panel-collapse collapse show">
                                        <div class="panel-body">
                                            <p>Вы можете совершить покупку самостоятельно при помощи своих  банковских карт, используя для доставки наш адрес в США. Актуальный адрес склада вы можете найти в личном кабинете или уточнить у менеджера компании.  После оформления покупки, вам необходимо предоставить полные данные об идущей посылке. Груз консолидировано вылетает из США 1 раз в неделю.</p>
                                            <p>Также вы можете воспользоваться услугой помощь в покупке. В таком случае выкуп товара осуществляется на наши корпоративные карты и вся суета по оформлению и отслеживанию посылки возлагается на нашу компанию.</p>
                                            <p class="text-danger">Внимание! При покупке не стандартных товаров просим предварительно ознакомиться со списком товаров, запрещенных к авиа транспортировке согласно международным правилам перевозок, а также законодательству США и КР. </p>
                                        </div>
                                    </div>
                                </div> <!-- /panel 1 -->
                                <div class="panel">
                                    <div class="panel-heading">
                                        <h6 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-three" href="#collapse32">
                                                Как быстро придет посылка?</a>
                                        </h6>
                                    </div>
                                    <div id="collapse32" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>Груз вылетает консолидировано 1 раз в неделю. Транзитное время в пути от 3 до 7 рабочих дней (суббота, воскресенье считаются выходными днями и не учитываются в подсчете времени доставки). При высокой загруженности авиалиний сроки доставки могут быть увеличены.</p>
                                            <p>Также надо учитывать время обработки заказа магазином и срок доставки от склада магазина до склада нашей компании. За данные сроки и стоимость внутренней доставки по США полностью несет ответственность сам магазин или продавец.</p>
                                            <p>Входящие на склад посылки обрабатываются и вносятся в систему в течение 24 часов, при высокой загруженности склада время может быть увеличено до 96 часов.</p>
                                        </div>
                                    </div>
                                </div> <!-- /panel 2 -->
                                <div class="panel">
                                    <div class="panel-heading">
                                        <h6 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-three" href="#collapse34">
                                                Как подсчитать стоимость посылки? Насколько выгодно заказывать легкие, но объемные вещи?</a>
                                        </h6>
                                    </div>
                                    <div id="collapse34" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>Стоимость доставки составляет $11 за 1 кг. Стоимость посылок, которые весят меньше, чем 1  кг считается по граммам с округлением до 100 гр.</p>
                                            <p>Письма и документы, весом менее 1 кг отпускаются по тарифу $11.</p>
                                            <p>Не стандартные посылки, легкие, но объемные, в том числе и хрупкие товары, могут отпускаться по объемному весу. И стоимость доставки может в разы увеличиться, поэтому в таких случаях стоит предварительно получить консультацию у менеджера компании.</p>
                                            <p>Склад по умолчанию консолидируют все лишние почтовые коробки для уменьшения веса посылки, если  склад  считает, что посылка может повредиться в пути без дополнительной упаковки, в таком случае посылка остается в той коробке, как она прибыла на склад. </p>
                                        </div>
                                    </div>
                                </div> <!-- /panel 3 -->
                                <div class="panel">
                                    <div class="panel-heading">
                                        <h6 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-three" href="#collapse35">
                                                Какие таможенные лимиты?</a>
                                        </h6>
                                    </div>
                                    <div id="collapse35" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>С 1 января 2020 года на одно физическое лицо разрешено беспошлинно ввозить товары для личного пользования стоимостью не выше 200 евро и не более 31 кг, доставляемые через почту или перевозчиков не из стран ЕАЭС.</p>
                                            <p>Для получения более детальной консультации  по таможенным лимитам, пожалуйста, свяжитесь с менеджерами компании.</p>
                                        </div>
                                    </div>
                                </div> <!-- /panel 4 -->
                                <div class="panel">
                                    <div class="panel-heading">
                                        <h6 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-three" href="#collapse36">
                                                Что привозить нельзя?</a>
                                        </h6>
                                    </div>
                                    <div id="collapse36" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>Согласно законодательству КР и США, а также следуя международным правилам авиаперевозок, товары, которые относятся к категории опасных, требуют специальной упаковки и особых условий для транспортировки, а также если необходимы  дополнительные документы, как разрешения на ввоз и вывоз, лицензирование и так далее, запрещены к транспортировке на общих условиях.</p>
                                            <p>Со списком запрещенных товаров вы можете ознакомиться, пройдя по <a class="text-info" href="/prohibited.pdf" target="_blank">ссылке.</a></p>
                                            <p>Если вы заказываете специфический товар, предварительно пройдите консультацию с менеджером компании.</p>
                                            <strong>Внимание: на всех этапах принятия и транспортировки посылок, весь груз тщательно проверяется сотрудниками складов, службами безопасности авиалиний и аэропортов, а также представителями государственных служб США и КР. Отправляя посылки, которые запрещены к транспортировке, всю ответственность и оплату всех штрафов несет клиент. </strong>
                                        </div>
                                    </div>
                                </div> <!-- /panel 4 -->
                            </div> <!-- end #accordion -->
                        </div> <!-- End of .faq-panel -->
                    </div> <!-- /.faq-tab-wrapper-three -->
                </div>
            </div>
        </div>
    </div>

    <!--
			=============================================
				Newsletter Section
			==============================================
			-->
    <div class="newsletter-section newsletter-two pos-r mt-25">
        <div class="shape-wrapper">
            <svg class="img-shape shape-one">
                <path fill-rule="evenodd"  fill="rgb(255, 205, 111)"
                      d="M8.000,15.999 C12.418,15.999 16.000,12.417 16.000,7.999 C16.000,3.581 12.418,-0.001 8.000,-0.001 C3.582,-0.001 -0.000,3.581 -0.000,7.999 C-0.000,12.417 3.582,15.999 8.000,15.999 Z"/>
            </svg>
            <svg class="img-shape shape-two">
                <path fill-rule="evenodd"  fill="rgb(206, 124, 255)"
                      d="M5.500,10.999 C8.537,10.999 11.000,8.537 11.000,5.499 C11.000,2.462 8.537,-0.001 5.500,-0.001 C2.462,-0.001 -0.000,2.462 -0.000,5.499 C-0.000,8.537 2.462,10.999 5.500,10.999 Z"/>
            </svg>
        </div>
        <div class="container">
            <div class="main-wrapper">
                <div class="theme-title-one text-center pb-55">
                    <h2 class="main-title">Я хочу заказать со Штатов<br> <i>Как мне это сделать?</i></h2>
                </div> <!-- /.theme-title-one -->
                <form class="ajax-sub-form-2 subscribe-form" method="post" action="https://docs.google.com/forms/u/5/d/e/1FAIpQLSdXjVf1DUCx-lGcY7MB021zPghByZfH67fvpqVPMoTAlIWtbQ/formResponse" target="hidden_iframe"> <!-- use the id="ajax-sub-form" when you use it , we have change the ID in here for duplicate ID error -->
                    <iframe name="hidden_iframe" style="display:none;"></iframe>
                    <input type="number" required name="entry.409597030" placeholder="Ваш телефон" id="subscription-email-2"> <!-- use the id="subscription-email" when you use it , we have change the ID in here for duplicate ID error -->
                    <button type="submit" class="button-rose submit-button"><i class="flaticon-next"></i></button>
                    <label class="subscription-label" for="subscription-email-2"></label>
                    <div class="text-center pt-30 "><i class="text-center">Указывая телефон вы принимаете <a class="text-info" href="/agreement.pdf" target="_blank">Условия соглашения</a></i></div>
                </form>
            </div> <!-- /.main-wrapper -->
        </div> <!-- /.container -->
    </div> <!-- /.newsletter-section -->
